
<h2>User info</h2>
  <p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>

<%= form_with model: @user, local:true do |f| %>

  <table class="table">
    <tr>
    <th>name</th>
    <th><%= user.name %></th>
    </tr>
    <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
    </tr>
  </table>
<% end %>

  <div class="row"><%= link_to " ",edit_user_path(user), class:'btn btn-outline-secondary btn-block fas fa-user-cog edit_user_8378'%></div>